*{
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#quotes{
    width: 80%;
    display: flex;
    flex-direction: column;
    column-gap:2px;
    row-gap:10px;
    justify-content: center;
    align-items: center;
    border: 1px solid gray;
}

.quote{
    width: 100%;
    display: flex;
}

